<template>
  <div class="col-12 mt-32">
    <CalendarDashboard />
  </div>
</template>

<script>
import CalendarDashboard from "@/components/organisms/CalendarDashboard.vue";
export default {
  name: "AbsenceMgt",
  components: {
    CalendarDashboard,
  },
};
</script>
