<template>
  <div class="col-12 mt-32">
    <div class="d-flex justify-content-between">
      <h5 class="mb-3">NoticeBoard</h5>
      <button
        v-if="notices.length"
        class="add-btn mb-3 d-flex align-items-center"
        @click="addNotice"
      >
        <span class="icon-plus-circle-outline"></span>
        Add Notice
      </button>
    </div>
    <NoNoticeBanner v-if="noNotices" @create-notice="addNotice" />
    <NoticeBoardDashboard :add-notice="showModal" @open-notice="openNotice" />
    <NoticeModal :noticeInfo="noticeInfo" @confirm-delete="confirmDelete" />
    <ConfirmationModal :noticeId="noticeId" />
  </div>
</template>

<script>
import NoticeBoardDashboard from "../components/organisms/NoticeBoardDashboard.vue";
import NoNoticeBanner from "@/components/atoms/NoNoticeBanner.vue";
import NoticeModal from "@/components/organisms/NoticeModal.vue";
import { mapActions, mapGetters } from "vuex";
import ConfirmationModal from "../components/atoms/ConfirmationModal.vue";

export default {
  name: "NoticeBoard",
  components: {
    NoticeBoardDashboard,
    NoNoticeBanner,
    NoticeModal,
    ConfirmationModal,
  },
  data() {
    return {
      showModal: false,
      isLoading: true,
      noticeInfo: null,
      noticeId: 0,
    };
  },
  computed: {
    ...mapGetters(["notices"]),
    noNotices() {
      return this.isLoading ? false : this.notices.length < 1;
    },
  },
  methods: {
    ...mapActions(["getNotices"]),
    addNotice() {
      this.noticeInfo = null;
      this.$bvModal.show("notice-modal");
    },
    openNotice(noticeInfo) {
      this.noticeInfo = noticeInfo;
      this.$bvModal.show("notice-modal");
    },
    confirmDelete(id) {
      this.$bvModal.show("confirmation-modal");
      this.noticeId = id;
    },
  },
  mounted() {
    this.getNotices().then(() => {
      this.isLoading = false;
    });
  },
};
</script>

<style scoped>
.add-btn {
  font-size: 14px;
  border-radius: 4px;
  padding: 4px 12px;
  background-color: var(--main-purple-color);
  color: var(--main-white);
  border: none;
}
.icon-plus-circle-outline {
  font-size: 18px;
  margin: 0 4px 2px 0;
}
</style>
