<template>
  <b-modal
    id="confirmation-modal"
    ref="confirmation-modal"
    hide-footer
    centered
    title="Delete noticeboard?"
  >
    <p class="delete-span">
      Are you sure your want to delete this noticeboard?
    </p>
    <b-button class="mt-3" variant="danger" @click="confirmDeleteNotice"
      >Delete</b-button
    >
    <b-button class="mt-3 ml-3" variant="light" @click="hideModal"
      >Cancel</b-button
    >
  </b-modal>
</template>
<script>
import { mapActions } from "vuex";

export default {
  name: "ConfirmationModal",
  props: {
    noticeId: { type: Number, required: true },
  },
  methods: {
    ...mapActions(["deleteNotice"]),
    hideModal() {
      this.$refs["confirmation-modal"].hide();
    },
    confirmDeleteNotice() {
      this.deleteNotice(this.noticeId);
      this.hideModal();
    },
  },
};
</script>

<style lang="scss" scoped>
#confirmation-modal {
  max-width: 401px;
  height: 199px !important;
}
.delete-span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
</style>
