<template>
  <div :style="{ borderColor: color }" class="event-wrapper">
    <div>
      <span class="event-name">{{ name }}</span>
      <div class="d-flex">
        <span class="icon-pending-circle-outline status p-1 mr-1"></span>
        <span class="type-label px-1">{{ type }}</span>
      </div>
    </div>
    <div class="ml-1 mt-1 text-left members">
      <span :style="{ color: color }" class="icon-bullet mr-1"></span>
      {{ members }}
    </div>
  </div>
</template>

<script>
export default {
  name: "EventCard",
  props: {
    name: {
      type: String,
    },
    color: {
      type: String,
    },
    type: {
      type: String,
    },
    members: {
      type: [Number, String],
    },
  },
};
</script>

<style lang="scss" scoped>
.event-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-right: 1px solid;
  border-left: 2px solid;
  padding: 2px 4px;
  z-index: 1;
  color: black;

  & .event-name {
    font-weight: 500;
    font-size: 15px;
  }

  & .status {
    color: var(--feedback-warning-color);
    background-color: var(--main-white);
    width: 20px;
    height: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  & .type-label {
    color: black;
    width: fit-content;
    height: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    font-weight: 500;
    font-size: 10px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
  }
  & .members {
    font-size: 8px;
  }
}
</style>
