<template>
  <div
    class="row d-flex p-3 m-3 wrapper"
    :style="{
      borderColor: holidayData.color,
      backgroundColor: `rgba(${hexToRgb(holidayData.color)}, 0.05)`,
    }"
  >
    <div class="col-lg-5 holiday-info p-0">
      <h2 class="mb-4">{{ holidayData.name }}</h2>
      <div class="mb-3 d-flex align-items-center">
        <span class="icon-calendar"></span>
        <span class="ml-2 mt-1">{{ formattedDate }}</span>
      </div>
      <div class="d-flex">
        <span
          class="type-label px-2"
          :style="{ backgroundColor: holidayData.color }"
          >{{ holidayData.type }}</span
        >
        <span class="status-label d-flex align-items-center p-2 ml-2">
          <span class="icon-pending-circle-outline mr-1"></span>
          {{ setHolidayStatus }}
        </span>
      </div>
    </div>
    <div class="col-lg-7 p-0">
      <div class="d-flex justify-content-end">
        <button class="edit d-flex align-items-center p-3">
          <span class="icon-edit mr-2"></span>Edit Request
        </button>

        <button
          class="delete d-flex align-items-center p-2 ml-2"
          @click="onDeleteHoliday(holidayData.id)"
        >
          <span class="icon-trash mr-2"></span>
          <span class="delete-text"> Delete Request</span>
        </button>
      </div>

      <div class="note-wrapper">
        <label class="note-label mt-4 mb-0">Note:</label>
        <span class="note mb-3">{{ holidayData.note }}</span>
      </div>

      <div class="row justify-content-end mt-1 mr-1 rounded">
        <div class="members text-center">
          <span
            :style="{ color: holidayData.color }"
            class="icon-bullet mr-1"
          ></span>
          {{ holidayData.type }} ({{ holidayData.members }} Team members)
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "HolidayCalendarBanner",
  props: {
    holidayData: {
      type: Object,
      required: true,
    },
  },
  computed: {
    formattedDate() {
      const date = new Date(this.holidayData.start);
      const options = {
        weekday: "long",
        month: "long",
        day: "numeric",
        year: "numeric",
      };
      return date.toLocaleDateString("en-US", options);
    },
    setHolidayStatus() {
      return this.holidayData.status ? "confirmed" : "Pending";
    },
  },
  methods: {
    ...mapActions(["deleteHoliday"]),
    onDeleteHoliday(id) {
      this.deleteHoliday(id);
      this.$emit("go-to-today");
    },
    hexToRgb(hex) {
      const r = parseInt(hex.slice(1, 3), 16);
      const g = parseInt(hex.slice(3, 5), 16);
      const b = parseInt(hex.slice(5, 7), 16);
      return `${r}, ${g}, ${b}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  height: 172px;
  border-left: 2px solid;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.icon-calendar {
  color: var(--main-purple-color);
  font-size: 20px;
}
.icon-edit,
.icon-trash {
  font-size: 18px;
}
.icon-bullet {
  font-size: 8px;
}
button {
  border-radius: 4px;
  height: 33px;
  width: 144px;
  font-weight: 500;
  font-size: 14px;
}
.edit {
  color: var(--main-purple-color);
  border: 1px solid var(--main-purple-color);
}
.delete {
  color: var(--feedback-error-color);
  border: 1px solid var(--feedback-error-color);

  & .delete-text {
    margin-top: 1px;
  }
}
.type-label {
  color: var(--main-white);
  width: fit-content;
  height: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  font-weight: 500;
}
.status-label {
  background-color: var(--feedback-warning-color);
  width: fit-content;
  height: 24px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
}
.note-label {
  font-weight: 400;
  font-size: 14px;
  color: grey;
}
.note-wrapper {
  display: grid;
}
.note {
  font-weight: 400;
  font-size: 16px;
}
.members {
  font-size: 10px;
  background-color: #ffffff;
  padding: 2px;
  border-radius: 4px;
}
</style>
