<template>
  <form @submit.prevent="submitForm" class="container">
    <div class="form-group">
      <label>Event Name:</label>
      <input type="text" v-model="eventName" class="form-control" required />
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Start Date and Time:</label>
          <input
            type="datetime-local"
            v-model="startDate"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>End Date and Time:</label>
          <input
            type="datetime-local"
            v-model="endDate"
            class="form-control"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pt-0">
        <div class="form-group">
          <label>Type of Holiday:</label>
          <select v-model="holidayType" class="form-control">
            <option
              v-for="(holiday, index) in holidayTypes"
              :key="index"
              :value="holiday.value"
            >
              {{ holiday.label }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 pt-0">
        <div class="form-group">
          <label>Number of Members:</label>
          <input type="number" v-model="numberOfMembers" class="form-control" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Notes:</label>
      <textarea v-model="eventNotes" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      holidayTypes: [
        { label: "Public Holiday", value: "public" },
        { label: "Annual Leave", value: "annual-leave" },
        { label: "Sick Leave", value: "sick-leave" },
        { label: "Other", value: "other" },
      ],
      eventName: "",
      startDate: "",
      endDate: "",
      holidayType: "",
      eventNotes: "",
      numberOfMembers: 1,
    };
  },
  methods: {
    ...mapActions(["addHoliday"]),
    submitForm() {
      const holidayObject = {
        name: this.eventName,
        start: new Date(this.startDate).getTime(),
        end: new Date(this.endDate).getTime(),
        timed: true,
        type: this.holidayType,
        status: false,
        note: this.eventNotes,
        members: this.numberOfMembers,
      };

      if (this.holidayType === "annual-leave") {
        holidayObject.color = "#5152FB";
      } else if (this.holidayType === "sick-leave") {
        holidayObject.color = "#FF0000";
      } else if (this.holidayType === "public") {
        holidayObject.color = "#30B362";
      } else if (this.holidayType === "other") {
        holidayObject.color = "#a8a8a8";
      }

      this.addHoliday(holidayObject);

      this.eventName = "";
      this.startDate = "";
      this.endDate = "";
      this.holidayType = "";
      this.eventNotes = "";
      this.numberOfMembers = 1;
    },
  },
};
</script>
