<template>
  <div class="wrapper">
    <div class="banner">
      <span class="icon-bullet-list"></span>
      <h3>There's no notices</h3>
      <p class="py-3">
        Any notices from you will be shown to the <br />
        Notice board of your employees
      </p>
      <button class="create-btn" @click="createNotice">
        Create new notice
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "NoNoticeBanner",

  methods: {
    createNotice() {
      this.$emit("create-notice");
    },
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  background-color: var(--main-white);
}
.banner {
  margin: 111px 0 0 0;
}
.create-btn {
  font-size: 14px;
  border-radius: 4px;
  padding: 4px 12px;
  background-color: var(--main-purple-color);
  color: var(--main-white);
  border: none;
}
.icon-bullet-list {
  font-size: 40px;
  color: var(--typography-dark-grey-color);
}
p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
</style>
