<template>
  <div class="pt-0">
    <div
      v-for="(file, index) in attachments"
      :key="index"
      class="attachment d-flex justify-content-between p-2"
    >
      <div>
        <span class="icon-file-text"></span>
        <span class="ml-3">{{ file }}</span>
      </div>
      <div class="d-flex align-items-center">
        <span :class="'icon-check-circle-outline mr-3' + ' ' + state"></span>
        <button>x</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    attachments: {
      type: Array,
    },
    state: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss" scoped>
.attachment {
  border-bottom: 1px solid lightgrey;
}
.success {
  color: var(--feedback-success-color);
}
.draft {
  color: var(--feedback-warning-color);
}
.icon-file-text {
  color: var(--typography-dark-grey-color);
}
</style>
