<template>
  <v-card class="mx-auto notice-card d-flex" @click="openNotice">
    <img class="icon" src="@/assets/images/users/alex.png" />
    <div class="p-2 card-data">
      <h5 class="p-0 m-0 card-title">{{ title }}</h5>
      <span class="name">{{ name }}</span>
      <div class="message p-0 mt-2">
        {{ message }}
      </div>
      <p class="date">{{ formatDate(created) }}</p>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "CardComponent",
  props: {
    title: {
      tpye: String,
    },
    name: {
      type: String,
    },
    message: {
      type: String,
    },
    created: {
      type: String,
    },
  },
  methods: {
    formatDate(date) {
      const options = {
        year: "numeric",
        month: "long",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
      };
      return new Date(date).toLocaleDateString(undefined, options);
    },
    openNotice() {
      this.$emit("open-notice");
    },
  },
};
</script>

<style lang="scss" scoped>
.card-title {
  font-size: 15px;
}
.name {
  font-size: 13px;
  font-weight: bold;
  color: var(--typography-dark-grey-color);
}
.notice-card {
  background: var(--main-white);
  border: 1px solid #efe8e8;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  height: 165px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
}
.card-data {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 290px;
  height: 100%;
}
.message {
  width: 100%;
  max-height: 50px;
  font-size: 13px;
  line-height: 130%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon {
  vertical-align: top;
  width: 40px;
  height: 40px;
}
.date {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #bebebe;
  margin-top: 12px;
}
</style>
