<template>
  <div
    class="label-wrapper p-3 d-flex align-items-center"
    @click="navigateToRoute"
  >
    <span :class="`icon icon-` + icon"></span>
    {{ labelName }}
  </div>
</template>

<script>
export default {
  name: "SideBarLabel",
  props: {
    to: {
      type: String,
      required: true,
    },
    labelName: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      default: "house",
    },
  },
  methods: {
    navigateToRoute() {
      if (this.$route.path !== this.to) {
        this.$router.push(this.to);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.label-wrapper {
  color: var(--main-white);
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: #383878;
    border-left: 2px solid var(--main-purple-color);
  }
}

.icon {
  color: var(--main-white);
  font-size: 18px;
  margin: 0 4px 3px 0;
}
</style>
