<template>
  <div class="row px-3 pt-3">
    <div class="col-md-6 pl-3 pr-1">
      <div class="current-day-card p-3">
        <h2 class="mb-3">{{ getDay }}</h2>
        <div class="mb-3 d-flex align-items-center">
          <span class="icon-calendar"></span>
          <span class="ml-2 mt-1">{{ formattedDate }}</span>
        </div>
        <span
          class="type-label py-1 px-2"
          :style="{ color: getTypeOfDate.color }"
          >{{ getTypeOfDate.type }}</span
        >
      </div>
    </div>
    <div class="col-md-6 pr-3 pl-1">
      <div class="row">
        <div class="col-md-6 pr-1 pb-1">
          <div class="card-body p-2">
            <h2 class="card-title m-0">{{ userData.used_allowance }}/24</h2>
            <p class="card-text">Used Annual Allowance</p>
          </div>
        </div>
        <div class="col-md-6 pl-1">
          <div class="card-body p-2">
            <div class="d-flex align-items-center">
              <img
                class="flag-img mr-2"
                :src="
                  userData.country
                    ? require(`@/assets/images/flags/flag-${userData.country}.svg`)
                    : require(`@/assets/images/flags/flag-portugal.svg`)
                "
              />

              <h2 class="card-title m-0">{{ userData.public_holidays }}</h2>
            </div>
            <p class="card-text">Public Holidays</p>
          </div>
        </div>
        <div class="col-md-6 pr-1 pt-1">
          <div class="card-body p-2">
            <h2 class="card-title m-0">{{ userData.sick_days_taken }}</h2>
            <p class="card-text">Sick Days Taken</p>
          </div>
        </div>
        <div class="col-md-6 pl-1 pt-1">
          <div class="card-body p-2">
            <h2 class="card-title m-0 pending">
              {{ userData.pending_days_off }}
            </h2>
            <p class="card-text">Pending Days Off</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "TodayCalendarBanner",
  data() {
    return {
      today: new Date(),
      days: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ],
    };
  },
  computed: {
    ...mapGetters(["userData", "holidays"]),
    formattedDate() {
      const date = new Date();
      const options = {
        month: "long",
        day: "numeric",
        year: "numeric",
      };
      return date.toLocaleDateString("en-US", options);
    },
    getDay() {
      const date = new Date();
      const dayIndex = date.getDay();
      return this.days[dayIndex];
    },
    getTypeOfDate() {
      const workday = { type: "Workday", color: "A8A8A8" };
      const holiday = {};

      for (let i = 0; i < this.holidays.length; i++) {
        const eventStart = new Date(this.holidays[i].start);
        const eventEnd = new Date(this.holidays[i].end);

        if (
          this.formattedDate >= eventStart &&
          this.formattedDate <= eventEnd
        ) {
          holiday.color = this.holidays[i].color;
          holiday.type = this.holidays[i].type;
          return holiday;
        }
      }

      return workday;
    },
  },
  methods: {
    ...mapActions(["getUserData"]),
  },
  mounted() {
    this.getUserData();
  },
};
</script>

<style lang="scss" scoped>
.current-day-card {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background-color: var(--bg-light-grey-color-2);
}
.card-body {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  height: 83px;
  width: 100%;
}
.card-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--typography-grey-2-color);
}
.icon-calendar {
  color: var(--main-purple-color);
  font-size: 20px;
}
.flag-img {
  width: 30px;
  height: 30px;
}
.pending {
  color: var(--feedback-warning-color);
}
.type-label {
  color: var(--typography-grey-3-color);
  width: fit-content;
  height: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  font-weight: 500;
}
</style>
