<template>
  <div class="wrapper">
    <p class="pdf text-left my-2">
      Attach files to the notice so people can download them
    </p>
    <div class="upload-deck mb-3">
      <div
        class="upload-btn d-flex justify-content-center"
        @mousedown="startDrag"
      >
        <input
          ref="uploader"
          class="uploader"
          type="file"
          accept=".pdf,.doc,.docx"
          @input="handleFileUpload"
        />
      </div>
    </div>
    <NoticeAttachmentsList :attachments="attachments" state="draft" />
  </div>
</template>

<script>
import NoticeAttachmentsList from "@/components/atoms/NoticeAttachmentsList.vue";
export default {
  components: {
    NoticeAttachmentsList,
  },
  data() {
    return {
      isUpload: false,
      attachments: [],
      isDragging: false,
      offset: { x: 0, y: 0 },
      position: { x: 0, y: 0 },
    };
  },
  methods: {
    handleFileUpload(event) {
      const files = event.target.files;
      for (let i = 0; i < files.length; i++) {
        this.attachments.push("File Sample");
      }
      this.$emit("file-upload", this.attachments);
      this.isUpload = true;
    },
    startDrag(event) {
      this.isDragging = true;
      this.offset.x = event.clientX - this.position.x;
      this.offset.y = event.clientY - this.position.y;
      document.addEventListener("mousemove", this.drag);
      document.addEventListener("mouseup", this.stopDrag);
    },
    drag(event) {
      if (this.isDragging) {
        this.position.x = event.clientX - this.offset.x;
        this.position.y = event.clientY - this.offset.y;
      }
    },
    stopDrag() {
      this.isDragging = false;
      document.removeEventListener("mousemove", this.drag);
      document.removeEventListener("mouseup", this.stopDrag);
    },
  },
};
</script>

<style lang="scss" scoped>
.upload-deck {
  width: 100%;
  height: 73px;
  background: #f6f6f6;
  border: 1px dashed #838a90;
  border-radius: 5px;
}
h1 {
  text-align: center;
  margin-bottom: 26px;
  font-size: 24px;
}
p {
  font-weight: 400;
  font-size: 14px;
  color: var(--typography-dark-grey-color);
}

.uploader {
  color: transparent;
  margin: 20px auto;
  z-index: 10;
  position: absolute;

  &::-webkit-file-upload-button {
    visibility: hidden;
  }
  &::before {
    content: "Upload file";
    cursor: pointer;
    color: var(--main-purple-color);
    font-weight: 500;
    font-size: 13px;
  }
  &:hover::before {
    border-color: black;
  }
}
.upload-btn {
  position: relative;
  left: 6.5rem;
  height: 1.5rem;
}
</style>
