<template>
  <v-row class="fill-height px-3 pt-0 mt-0">
    <v-col class="pt-0">
      <v-sheet height="64">
        <v-toolbar
          flat
          color="white"
          class="d-flex text.aling-center justify-space-between"
        >
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            Today
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <span class="icon-chevron-left"></span>
          </v-btn>
          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
          <v-btn fab text small color="grey darken-2" @click="next">
            <span class="icon-chevron-right"></span>
          </v-btn>
          <v-menu bottom right>
            <template v-slot:activator="{ on, attrs }">
              <v-btn outlined color="grey darken-2" v-bind="attrs" v-on="on">
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>mdi-menu-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="type = 'day'">
                <v-list-item-title>Day</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'month'">
                <v-list-item-title>Month</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="600">
        <v-calendar
          ref="calendar"
          v-model="focus"
          color="primary"
          :events="holidays"
          :type="type"
          @click:event="showEvent"
          @change="getHolidays"
          @click:more="viewDay"
          @click:date="viewDay"
          class="calendar"
        >
          <template v-slot:event="{ event }">
            <EventCard
              :name="event.name"
              :color="event.color"
              :type="event.type"
              :members="event.members"
            />
          </template>
        </v-calendar>
      </v-sheet>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import EventCard from "@/components/atoms/EventCard.vue";

export default {
  components: {
    EventCard,
  },
  data: () => ({
    focus: "",
    type: "month",
    typeToLabel: {
      month: "Month",
      day: "Day",
    },
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
  }),
  computed: {
    ...mapGetters(["holidays"]),
  },
  methods: {
    ...mapActions(["getHolidays"]),
    viewDay({ date }) {
      this.focus = date;
      this.type = "day";
    },
    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    showEvent({ event }) {
      this.$emit("show-holiday", event);
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
  },
};
</script>

<style lang="scss">
.v-application .justify-space-between {
  justify-content: center !important;
}
.event {
  width: 100% !important;
}
.v-event {
  height: 65px !important;
}
.v-event-more {
  position: absolute !important;
  bottom: 0 !important;
  background-color: transparent !important;
}
.calendar {
  position: relative;
}
.v-calendar-weekly__day-label {
  height: 22px !important;
}
.theme--light.v-btn.v-btn--has-bg {
  height: 22px !important;
}
@media (max-width: 600px) {
  .calendar {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .calendar {
    max-width: 100%;
  }
}
</style>
