<template>
  <div class="wrapper">
    <v-tabs v-if="cards.length" v-model="tab" class="tabs">
      <v-tab v-for="(tab, index) in tabs" :key="index">{{ tab }}</v-tab>
    </v-tabs>

    <v-row class="p-3">
      <v-col
        v-for="(card, index) in sortedCards"
        :key="index"
        :cols="cardCols"
        :sm="6"
        :md="4"
      >
        <NoticeCard
          :title="card.title"
          :name="card.name"
          :message="card.message"
          :created="card.created"
          @open-notice="openNotice(card)"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import NoticeCard from "@/components/atoms/NoticeCard.vue";

export default {
  name: "NoticeCardList",
  components: {
    NoticeCard,
  },
  props: {
    cards: { type: Array },
  },
  data() {
    return {
      tab: "Newest",
      tabs: ["Oldest", "Newest", "Unread"],
      cardCols: 12 / 3,
    };
  },
  computed: {
    sortedCards() {
      let sorted = this.cards.slice();
      switch (this.tab) {
        case 0:
          sorted.sort((a, b) => new Date(a.created) - new Date(b.created));
          break;
        case 1:
          sorted.sort((a, b) => new Date(b.created) - new Date(a.created));
          break;
        case 2:
          sorted = sorted.filter((card) => card.unread);
          break;
      }
      return sorted;
    },
  },
  methods: {
    formatDate(date) {
      const options = { year: "numeric", month: "long", day: "numeric" };
      return new Date(date).toLocaleDateString(undefined, options);
    },
    openNotice(noticeInfo) {
      this.$emit("open-notice", noticeInfo);
    },
  },
};
</script>

<style scoped>
.wrapper {
  background-color: var(--main-white);
}
.tabs {
  padding: 0 22px 0;
  color: var(--main-purple-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}
</style>
