<template>
  <form @submit.prevent="submitForm">
    <h4 class="pt-0 pb-3">{{ !!noticeInfo ? "Edit" : "Create" }} Notice</h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input
          v-model="firstName"
          id="firstName"
          class="form-control field"
          type="text"
          placeholder="e.g Miguel"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input
          v-model="lastName"
          id="lastName"
          class="form-control field"
          type="text"
          placeholder="e.g Chirino"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        v-model="title"
        id="title"
        class="form-control field"
        type="text"
        placeholder="e.g Company lucky Dip"
        required
      />
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        v-model="message"
        id="message"
        class="form-control message-field field"
        placeholder="Describe your message to your members"
        required
      ></textarea>
    </div>
    <label for="attachments">Attachments</label>
    <UploadDeckForm @file-upload="getAttachments" />
    <NoticeAttachmentsList :attachments="attachments" state="success" />
    <div class="form-group d-flex justify-content-end mt-4">
      <button
        v-if="!!noticeInfo"
        type=""
        class="btn btn-danger"
        @click="onDeleteNotice"
      >
        Delete
      </button>
      <button type="" class="draft ml-2">Save as Draft</button>
      <button type="submit" class="publish ml-2">Publish</button>
    </div>
  </form>
</template>

<script>
import { mapActions } from "vuex";
import UploadDeckForm from "@/components/atoms/UploadDeckForm.vue";
import NoticeAttachmentsList from "@/components/atoms/NoticeAttachmentsList.vue";

export default {
  name: "NoticeForm",
  components: {
    UploadDeckForm,
    NoticeAttachmentsList,
  },
  props: {
    noticeInfo: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      firstName: "",
      lastName: "",
      title: "",
      message: "",
      attachments: [],
      newAttachments: [],
      created: "",
    };
  },
  created() {
    if (this.noticeInfo) {
      this.editing = true;
      this.firstName = this.noticeInfo.name.split(" ")[0];
      this.lastName = this.noticeInfo.name.split(" ")[1];
      this.title = this.noticeInfo.title;
      this.message = this.noticeInfo.message;
      this.created = this.noticeInfo.created;
      this.attachments = this.noticeInfo.attachments;
    }
  },
  methods: {
    ...mapActions(["addNotice", "updateNotice", "deleteNotice", "getNotices"]),
    getAttachments(files) {
      this.newAttachments = files;
    },
    submitForm() {
      const currentDate = new Date();
      const formattedDate = `${currentDate.getDate()}, ${currentDate.toLocaleString(
        "default",
        { month: "short" }
      )}, ${currentDate.getFullYear()} ${currentDate.getHours()}:${currentDate.getMinutes()}`;
      const formData = {
        name: this.firstName + " " + this.lastName,
        title: this.title,
        message: this.message,
        attachments: this.attachments.concat(this.newAttachments),
        created: formattedDate,
        unread: true,
      };

      if (this.editing) {
        this.updateNotice({ ...formData, id: this.noticeInfo.id });
      } else {
        this.addNotice(formData);
      }

      this.resetData();
      this.$emit("close-modal");
      this.getNotices();
    },
    resetData() {
      this.firstName = "";
      this.lastName = "";
      this.title = "";
      this.message = "";
      this.attachments = [];
      this.created = "";
    },
    onDeleteNotice() {
      if (this.noticeInfo) {
        this.$emit("confirm-delete", this.noticeInfo.id);
        this.resetData();
        this.$emit("close-modal");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
label {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
.field {
  border: 1px solid #dadfe5 !important;
  border-radius: 3px;
  color: #000000;
  height: 35px;

  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #a7a7a7;
  }
}
.message-field {
  width: 100%;
  min-height: 188px;
}
.publish {
  background: var(--main-purple-color);
  border-radius: 5px;
  padding: 9px 15px;
  font-weight: 500;
  font-size: 13px;
  color: var(--main-white);
  cursor: pointer;
}
.draft {
  background: #ffffff;
  border: 1px solid #dadfe5 !important;
  border-radius: 5px;
  padding: 9px 15px;
  font-size: 13px;
  cursor: pointer;
}
</style>
