<template>
  <div class="sidebar min-vh-100">
    <div class="header d-flex align-items-centers">
      <img class="logo" src="@/assets/images/logos/logo-monogram.svg" />
      <span class="title ml-2">Native Teams</span>
    </div>

    <SideBarLabel to="/" labelName="Absence Management" icon="home" />
    <br /><br />
    <span class="category-name px-4 d-block">TEAM MANAGEMENT</span>
    <SideBarLabel to="/noticeboard" labelName="Noticeboard" icon="file" />
  </div>
</template>

<script>
import SideBarLabel from "../atoms/SideBarLabel.vue";

export default {
  name: "Sidebar",
  components: {
    SideBarLabel,
  },
};
</script>

<style lang="css" scoped>
.sidebar {
  background-color: var(--menu);
  min-width: 260px;
}
.header {
  padding: 31px 22px 80px;
}
.logo {
  width: 30px;
  height: 30px;
}
.title {
  color: var(--main-white);
  font-size: 22px;
  font-weight: bold;
}
.category-name {
  width: 100%;
  color: var(--pastel-blue-color);
  opacity: 0.5;
  border-bottom: 1px solid var(--pastel-blue-color);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
}
</style>
