<template>
  <div class="wrapper">
    <button
      v-if="holidayBanner && tab === 0"
      @click="goToToday"
      class="d-flex p-3 pb-0"
    >
      <span class="icon-chevron-left mr-2"></span>
      <span>Go to Today</span>
    </button>
    <HolidayCalendarBanner
      v-if="holidayBanner && tab === 0"
      :holidayData="holiday"
      @go-to-today="goToToday"
    />
    <v-tabs v-else v-model="tab" class="tabs">
      <v-tab v-for="(t, index) in tabs" :key="index" :value="t.value">{{
        t.text
      }}</v-tab>
    </v-tabs>
    <TodayCalendarBanner v-if="!holidayBanner && tab === 0" />
    <HolidayRequestForm v-else-if="tab === 4" />
    <Calendar @show-holiday="showHolidayBanner" />
  </div>
</template>

<script>
import Calendar from "@/components/molecules/Calendar.vue";
import TodayCalendarBanner from "@/components/atoms/TodayCalendarBanner.vue";
import HolidayCalendarBanner from "@/components/atoms/HolidayCalendarBanner.vue";
import HolidayRequestForm from "../atoms/HolidayRequestForm.vue";

export default {
  name: "CalendarDashboard",
  components: {
    Calendar,
    TodayCalendarBanner,
    HolidayCalendarBanner,
    HolidayRequestForm,
  },
  data() {
    return {
      holiday: {},
      holidayBanner: false,
      tab: 0,
      tabs: [
        { value: 0, text: "Today" },
        { value: 1, text: "Upcoming Absence" },
        { value: 2, text: "Annual Leave" },
        { value: 3, text: "Public Holidays" },
        { value: 4, text: "Requests" },
      ],
    };
  },
  methods: {
    showHolidayBanner(holidayData) {
      this.holiday = holidayData;
      this.holidayBanner = true;
      this.tab = 0;
    },
    goToToday() {
      this.holidayBanner = false;
    },
  },
};
</script>

<style lang="scss">
.wrapper {
  background-color: var(--main-white);
  border-radius: 4px;
}
.tabs {
  padding: 0 22px 0;
  color: var(--main-purple-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}
.icon-chevron-left {
  margin: 3px 0 0 0;
  font-size: 18px;
}
</style>
