<template>
  <b-modal
    id="notice-modal"
    ref="notice-modal"
    hide-footer
    hide-header-close
    hide-header
    centered
  >
    <NoticeForm
      :noticeInfo="noticeInfo"
      @close-modal="hideModal"
      @confirm-delete="confirmDelete"
    />
  </b-modal>
</template>
<script>
import NoticeForm from "@/components/molecules/NoticeForm.vue";

export default {
  name: "NoticeModal",
  components: {
    NoticeForm,
  },
  props: {
    noticeInfo: {
      type: Object,
    },
  },
  methods: {
    hideModal() {
      this.$refs["notice-modal"].hide();
    },
    confirmDelete(id) {
      this.$emit("confirm-delete", id);
    },
  },
};
</script>

<style lang="scss">
.modal-dialog {
  max-width: 620px !important;
  height: 771px !important;
}
</style>
