<template>
  <div class="wrapper">
    <NoticeCardList :cards="notices" @open-notice="openNotice" />
  </div>
</template>

<script>
import NoticeCardList from "@/components/molecules/NoticeCardList.vue";

import { mapGetters } from "vuex";

export default {
  name: "NoticeBoardDashboard",
  components: {
    NoticeCardList,
  },
  computed: {
    ...mapGetters(["notices"]),
  },
  methods: {
    openNotice(noticeInfo) {
      this.$emit("open-notice", noticeInfo);
    },
  },
};
</script>

<style>
.wrapper {
  border-radius: 4px;
}
</style>
