<template>
  <v-app>
    <div class="wrapper">
      <Sidebar />
      <component :is="layout">
        <slot />
      </component>
    </div>
  </v-app>
</template>

<script>
import Sidebar from "./components/molecules/SideBar.vue";
const defaultLayout = "DashboardLayout";

export default {
  name: "App",
  components: {
    Sidebar,
  },
  computed: {
    layout() {
      const layout = this.$route.meta.layout || defaultLayout;
      return () => import(`@/layouts/${layout}.vue`);
    },
  },
};
</script>

<style scoped>
.wrapper {
  display: flex;
}
</style>
