@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "clear.css";

:root {
  /* MAIN COLORS */
  --main-purple-color: #5152fb;
  --main-yellow-color: #ffc107;
  --main-dark-pink-color: #fa4769;
  --main-green-color: #43c876;
  --main-white: #ffffff;
  /* TYPOGRAPHY COLORS */
  --typography-dark-grey-color: #838a90;
  --typography-grey-color: #c2cbd9;
  --typography-light-grey-color: #cdd0d2;
  --typography-light-grey-2-color: #e6e6e6;
  --typography-grey-1-color: #4d4d4d;
  --typography-grey-2-color: #838a90;
  --typography-grey-3-color: #a8a8a8;
  /* DIRTY COLORS */
  --dirty-purple: #6263b6;
  --dirty-pink: #d66580;
  --dirty-yellow: #e7c344;
  /* EXTENDED COLORS */
  --extended-purple: #725ae6;
  --extended-orange: #fc7d57;
  /* PASTEL COLORS */
  --pastel-purple-color: rgba(81, 82, 251, 0.1);
  --pastel-blue-color: #ddf3ff;
  --pastel-pink-color: #fbe9f8;
  --pastel-yellow-color: #fff0cc;
  --pastel-green-color: #e1f6ea;
  /* BACKGROUND COLORS */
  --bg-color: #eaeef2;
  --bg-light-grey-color: #f2f4f8;
  --bg-light-grey-color-2: #f5f5f5;
  --bg-light-blue-color: #eef3f7;
  /* NAVBAR/MENU COLORS */
  --menu: #2f3043;
  /* FEEDBACK COLOR PALETTE */
  --feedback-success-color: #30b362;
  --feedback-success-bg-color: #f4fbf7;
  --feedback-info-color: #0066ff;
  --feedback-info-bg-color: #0066ff0d;
  --feedback-error-color: #ff0000;
  --feedback-error-bg-color: #fff2f2;
  --feedback-warning-color: #f29d39;
  --feedback-warning-bg-color: #fefaf5;
}

body {
  font-size: 100%;
  line-height: 1;
  overflow-x: hidden;
  background: var(--bg-color);
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  min-height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
  display: none;
}

/* ------------------- */
/* UTILITIES --------- */
/* ------------------- */

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 50px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #838a90;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #838a90;
}

::-webkit-scrollbar-thumb:active {
  background: #838a90;
}

::-webkit-scrollbar-track {
  background: #e6e6e6;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #e6e6e6;
}

::-webkit-scrollbar-track:active {
  background: #e6e6e6;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
