<template>
  <div class="container-fluid">
    <div class="row m-0">
      <main role="main" class="col-12 col-lg-10 dashboard-main ml-auto mr-auto">
        <div class="container">
          <div class="row justify-content-center justify-content-md-between">
            <router-view class="mt-32" />
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
export default {
  name: "DashboardLayout",
};
</script>

<style scoped>
.container-fluid {
  background-color: var(--bg-color);
}
</style>
